<div class="leaderboard-item">
    <div class="not-leader-score"><%= score.score %></div>
    <div class="not-leader-name-wrapper">
        <div class="not-leader-name">
            <%= score.name %>
        </div>
    </div>
    <div class="not-leader-message-wrapper">
        <div class="not-leader-message">
            <%= score.message %>
        </div>
    </div>
</div>