<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("metatags") %>
	<title><%= code %></title>
	<link rel="stylesheet" type="text/css" href="/res/fonts/Pacifico.css">
	<link rel="stylesheet" type="text/css" href="/res/fonts/JosefinSans.css">
	<link rel="stylesheet" type="text/css" href="/error/error.css">
	<script type="text/javascript" defer src="/error/sketch.js"></script>
</head>
<body>
	<canvas id="canvas"></canvas>
	<header>Joonas Lindroos</header>
	<div>
		<h1><%= code %></h1>
		<br/>
		<p><%= message %></p>
	</div>
</body>
</html>