<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <%- include("metatags")%>
    <meta name="keywords" content="website, personal website, snake, snake game, text animation, firework animation,
portfolio">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="landing/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/res/fonts/Pacifico.css">
    <link rel="stylesheet" type="text/css" href="/res/fonts/JosefinSans.css">
</head>
<body>
    <header>Joonas Lindroos</header>
    <div class="container-fluid mContainer">
        <div class="row justify-content-center mRow">
            <div class="col-md-5 col-sm-8 mCol TA">
                <a>1 Player Snake</a>
                <br/>
                <img alt="Snake image" id="snake-comp-image" src="/res/images/SnakeComp.png">
            </div>
            <div class="col-md-5 col-sm-8 mCol TA">
                <a>2 Player Snake</a>
                <br/>
                <img alt="Snake image" id="snake-pvp-image" src="/res/images/SnakePvP.png">
            </div>
        </div>
        <div class="row justify-content-center mRow">
            <div class="col-md-5 col-sm-8 mCol TA">
                <a>Fax Or Cap</a>
                <br/>
                <img alt="Firework animation image" id="faxorcap-image" src="/res/images/Faxorcap.png">
            </div>
            <div class="col-md-5 col-sm-8 mCol TA">
                <a>Text spread animation</a>
                <br/>
                <img alt="Text spread animation image" id="text-spread-image" src="/res/images/TextAnimation.png">
            </div>
        </div>
        <div class="row justify-content-center mRow">
            <div class="col-md-5 col-sm-8 mCol TA">
                <a>Firework animation</a>
                <br/>
                <img alt="Firework animation image" id="firework-image" src="/res/images/FireworkAnimation.png">
            </div>
        </div>
    </div>
    <canvas id="game-canvas"></canvas>
    <script type="text/javascript">
        document.querySelector("#snake-comp-image").onclick = function() {
            window.location.href = "snake/comp/"
        }
        document.querySelector("#snake-pvp-image").onclick = function() {
            window.location.href = "snake/pvp/"
        }
        document.querySelector("#text-spread-image").onclick = function() {
            window.location = "textspread/"
        }
        document.querySelector("#firework-image").onclick = function() {
            window.location = "fireworks/"
        }
        document.querySelector("#faxorcap-image").onclick = function() {
            window.location = "https://test.joonaslindroos.com/"
        }
    </script>
</body>
</html>