<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Text spread animation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../games/textspread/style.css">
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script type="text/javascript" src="../p5/p5.js"></script>
        <script type="text/javascript" src="../p5/p5.dom.js"></script>
        <script type="text/javascript" src="../games/textspread/particles.js"></script>
        <script type="text/javascript" defer src="../games/textspread/sketch.js"></script>
    </head>
    <body>
    <p id="gotoOptions" class="unselectable">Press this or scroll down for options</p>
    <div class="fluid-container mContainer">
            <div class="row mRow">
                <div class="col-12">
                    <div id="cs"></div>
                </div>
            </div>
            <div class="row mRow" id="options">
                <div class="col-12">
                    <p class="title">OPTIONS</p>
                </div>
            </div>
            <div class="row mRow options">
                <div class="col-12 mCol">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6 mCol">
                                <label for="colorscheme">Color Scheme</label>
                                <select id="colorscheme" class="form-control">
                                    <option selected>Cartoony</option>
                                    <option>Crystal</option>
                                    <option>Rainbow</option>
                                    <option>Nature</option>
                                    <option>Blue Shades</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 mCol">
                                <label for="spreadpoints">Spread Points</label>
                                <select id="spreadpoints" class="form-control">
                                    <option selected>Four Corners</option>
                                    <option>Left Top</option>
                                    <option>Right Top</option>
                                    <option>Middle</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mCol">
                                <label for="textinput">Text</label>
                                <input class="form-control" type="text" maxlength="50" placeholder="TEXT HERE" id="textinput"></input>
                            </div>
                            <div class="form-group col-md-6 mCol">
                                <label for="style">Style</label>
                                <select id="style" class="form-control">
                                    <option selected>Normal</option>
                                    <option>Wavey</option>
                                    <option>Straight</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group-12 btncontainer">
                                <button id="startbutton" class="start-btn btn btn-primary">Play Animation</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
