<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Text spread animation</title>
        <%- include("metatags")%>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/games/textspread/style.css">
        <link rel="stylesheet" type="text/css" href="/res/fonts/JosefinSans.css">
        <link rel="stylesheet" type="text/css" href="/res/fonts/Avenir.css">
        <script type="text/javascript" src="/opentype/opentype.js"></script>
        <script type="text/javascript" src="/games/textspread/algorithms.js"></script>
        <script type="text/javascript" src="/games/textspread/spreadfunctions.js"></script>
        <script type="text/javascript" src="/games/textspread/particle.js"></script>
        <script type="text/javascript" src="/games/textspread/textanimation.js"></script>
        <script type="text/javascript" defer src="/games/textspread/sketch.js"></script>
    </head>
    <body>
    <p id="gotoOptions" class="unselectable">Press this or scroll down for options</p>
    <div class="fluid-container mContainer">
            <div class="row mRow">
                <div class="col-12">
                    <div id="cs">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="row mRow" id="options">
                <div class="col-12">
                    <p class="title">OPTIONS</p>
                </div>
            </div>
            <div class="row mRow options">
                <div class="col-12 mCol">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6 mCol">
                                <label class="form-label" for="colorscheme">Color Scheme</label>
                                <select id="colorscheme" class="form-control">
                                    <option selected>Cartoony</option>
                                    <option>Crystal</option>
                                    <option>Rainbow</option>
                                    <option>Nature</option>
                                    <option>Blue Shades</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 mCol">
                                <label class="form-label" for="spreadfunction">Spread Points</label>
                                <select id="spreadfunction" class="form-control">
                                    <option selected>Sides</option>
                                    <option>Spiral</option>
                                    <option>Double Spiral</option>
                                    <option>Bottom</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 mCol">
                                <label class="form-label" for="textinput">Text</label>
                                <input class="form-control" type="text" maxlength="50" placeholder="TEXT HERE" id="textinput"/>
                            </div>
                            <div class="form-group col-md-6 mCol">
                                <label class="form-label" for="style">Style</label>
                                <select id="style" class="form-control">
                                    <option selected>Normal</option>
                                    <option>Straight</option>
                                    <option>Wavey</option>
                                    <option>Orderly</option>
                                    <option>Smooth</option>
                                    <option>Smooth Waves</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button id="startbutton" class="start-btn btn btn-primary">Play Animation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
