* {
    margin: 0;
    padding: 0;
    font-family: 'JosefinSans', sans-serif;
}

:root {
    --color-primary: /*rgba(206,164,219,1)*/ #2D3250;
    --color-secondary: /*rgba(219,121,86,1)*/ #2D3250;
    --border-color: #666;
    --text-color: #fff;
}

.main {
    text-align: center;
    height: 100vh;
    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}
