<!DOCTYPE html>
<html lang="en">
<head>
	<title>2 Player Snake</title>
	<%- include("./../../metatags")%>
	<link rel="stylesheet" type="text/css" href="/games/snake/pvp/css/game.css">
	<link rel="stylesheet" type="text/css" href="/games/snake/style.css">
	<link rel="stylesheet" type="text/css" href="/res/fonts/JosefinSans.css">
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/games/snake/pvp/js/textures.js"></script>
	<script type="text/javascript" defer src="/games/snake/pvp/js/sketch.js"></script>
	<script type="text/javascript" defer src="/games/snake/pvp/js/CookieUtil.js"></script>
</head>
<body>
	<div class="main">
		<div class="message-box">
			<p>This is a message box.</p>
		</div>
		<div class="score-counter-container">
			<p class="score-counter">5</p>
		</div>
		<div class="canvas-container">
			<canvas id="game-canvas"></canvas>
		</div>
	</div>
	<template id="message-display-template">
		<p id="message-display"></p>
	</template>

	<template id="instructions-template">
		<div class="instructions">
			<p>Move using WASD or the arrow keys.</p>
			<p>Crash the other player to win.</p>
			<p>Ready up by pressing any of the keys.</p>
			<br/>
			<p id="instructions-sideteller"></p>
		</div>
	</template>
	<template id="game-over-template">
		<p id="game-over-text">Game over!</p>
		<button class="restart-button">Restart</button>
		<script type="text/javascript">
			document.querySelector(".restart-button").onclick = function() {
				socket.emit("get_game_config");
				socket.emit("ready");
				setMessageBoxContents("#message-display-template");
				document.querySelector("#message-display").innerHTML = "Waiting for opponent";
				showMessageBox()
			}
		</script>
	</template>
</body>
</html>