<!DOCTYPE html>
<html lang="en">
<head>
    <title>2 Player Snake</title>
    <%- include("./../../metatags")%>
    <link rel="stylesheet" type="text/css" href="/games/snake/pvp/css/landing.css">
    <link rel="stylesheet" type="text/css" href="/games/snake/style.css">
    <link rel="stylesheet" type="text/css" href="/res/fonts/JosefinSans.css">
    <script type="text/javascript" defer src="/games/snake/pvp/js/landing.js"></script>
    <script type="text/javascript" defer src="/games/snake/pvp/js/CookieUtil.js"></script>
</head>
<body>
    <div class="main">
        <div class="message-box">
            <form method="post" action="/" autocomplete="off">
                <% if (errorMessage) { %>
                    <div class="error-box">
                        <p class="error-message"><%= errorMessage %></p>
                    </div>
                <% } %>
                <div class="form-inline">
                    <div class="form-group">
                        <input name="code" type="text" class="form-control code-input" id="inputCode"
                               placeholder="code" value="">
                    </div>
                    <button type="submit" formaction="/snake/pvp/join" class="btn btn-primary">Join</button>
                    <button type="submit" formaction="/snake/pvp/create" class="btn btn-primary">Create</button>
                </div>
                <div class="form-group">
                    <button type="submit" formaction="/snake/pvp/local" formmethod="get" class="btn-btn btn-primary">Local</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>