<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="../../games/snake/style.css">
    <link rel="stylesheet" type="text/css" href="../../games/snake/comp/css/leaderboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<div class="main">
    <div class="text-on-center">The leaderboard is empty</div>
    <button id="play-button" class="play-button">Play</button>
    <script type="text/javascript" nonce="<%= nonce %>" defer>
        document.getElementById("play-button").onclick = function gotoGame() {
            window.location.href = "/snake/comp";
        }
    </script>
</div>
</body>
</html>